@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Creepster);
/* Eric Meyer Reset 2015 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Custom resets*/
* {
  box-sizing: border-box;
}
html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}
* {
  box-sizing: border-box;
}
body {
  transition: transform 0.5s linear;
  will-change: transform;
  overflow: hidden;
}
body.slide {
  transform: translateY(-100%);
}
#appWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.first-screen {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url('../img/background.png');
  background-size: cover;
  background-position: bottom right;
}
.first-screen .game-name {
  padding: 10px;
  margin: 0 25px 0 0;
  background: none;
  border: none;
  outline: none;
  border-bottom: 2px solid #000;
  font-size: 30px;
  cursor: text;
  color: #fff;
}
.first-screen .game-name:-webkit-input-placeholder {
  font-family: 'Raleway', sans-serif;
}
.first-screen .play-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: none;
  border: none;
  outline: none;
  font-family: 'Creepster', cursive;
  font-size: 4em;
  cursor: pointer;
}
.first-screen .play-button:before {
  content: '';
  position: relative;
  width: 70px;
  height: 60px;
  margin: 0 10px 0 0;
  background-image: url('../img/button.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.arena {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: #191919;
}
.player-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.2);
}
.player-wrapper.opponent {
  align-self: flex-start;
}
.player-wrapper.hero {
  align-self: flex-end;
}
.player-wrapper .player-details {
  display: flex;
  flex-direction: row;
  width: 20%;
  border-right: 2px solid #000;
}
.player-wrapper .player-details .mana,
.player-wrapper .player-details .life {
  width: 50%;
  font-family: 'Creepster', cursive;
  font-size: 60px;
  line-height: 150px;
  color: #000;
  text-align: center;
}
.player-wrapper .cards-wrapper {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.end-turn {
  position: absolute;
  bottom: 150px;
  right: 0;
  width: 120px;
  height: 50px;
  padding: 10px;
  background-color: red;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  color: #000;
  text-align: center;
  cursor: pointer;
}
.card {
  position: relative;
  width: 100px;
  margin: 0 10px 0 0;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
.card.flipped {
  background-image: url('../img/back.png') !important;
}
