// imports
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Creepster);
@import "reset.less";

// general style

* {
    box-sizing: border-box;
}

body{
    transition: transform 0.5s linear;
    will-change: transform;
    overflow: hidden;

    &.slide{
        transform: translateY(-100%);
    }
}

#appWrapper{
    position: relative;

    width: 100%;
    height: 100%;
}

// first screen style;

.first-screen{
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    background-color: #FA5923;

    .game-name{
        padding: 10px;
        margin: 0 0 30px 0;

        background: none;
        border: none;
        outline: none;

        border-bottom: 2px solid #000;

        font-size: 30px;
        cursor: pointer;
        &:-webkit-input-placeholder{
            font-family: 'Raleway', sans-serif;
            color: #000;
        }
    }

    .play-button{
        background: none;
        border: none;
        outline: none;

        font-family: 'Creepster', cursive;
        font-size: 4em;

        cursor: pointer;
    }
}

// arena style

.arena{
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    height: 100%;

    background-color: #191919;
}

.player-wrapper{
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 150px;

    background-color: red;

    &.opponent{
        align-self: flex-start;
    }

    &.hero{
        align-self: flex-end;
    }

    .player-details{
        display: flex;
        flex-direction: row;

        width: 20%;
        border-right: 2px solid #000;

        .mana, .life{
            width: 50%;
        }

        .mana{
            background-color: green;
            color: #fff;
        }

        .life{
            background-color: yellow;
            color: #000;
        }

    }

    .cards-wrapper{
        display: flex;
        flex-direction: row;

        padding: 10px;
    }
}
